<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    ">
    
    <bean id="logUtil" class="daily.log.account.LogUtil" ></bean>
    <aop:config>
    	<aop:aspect id="logUtilAspect" ref="logUtil">
    		<aop:pointcut expression="execution(* daily.account.service.*.*(..))" id="business"/>
    		<aop:before  pointcut-ref="business" method="before"/>
    		<aop:after method="after" pointcut-ref="business"/>
    	</aop:aspect>
    </aop:config>
</beans>