<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="contract-service" logger="slf4j" />

    <!-- 使用zookeeper注册中心暴露发现服务地址 -->
    <dubbo:registry address="${dubbo.registry.address}" file="false" check="false" register="false" subscribe="false"/>

<!--    <dubbo:registry address="${dubbo.registry.address.sms}" file="false" id="sms"/>-->

    <!--&lt;!&ndash; 用dubbo协议在20880端口暴露服务 &ndash;&gt;-->
    <dubbo:protocol name="dubbo" port="24880" server="netty" client="netty" serialization="hessian2" charset="UTF-8"
                    threadpool="fixed" threads="100" queues="0" iothreads="9" buffer="8192"
                    accepts="1000" payload="8388608"/>

    <dubbo:provider delay="-1" timeout="60000" retries="0" loadbalance="leastactive" connections="2" actives="20"
                    executes="100"/>

</beans>