<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<bean id="businessService" class="daily.spring.test.service.impl.BusinessServiceImpl">
		<property name="businessNum" value="5"></property>
	</bean>
	
	<bean id="userService" class="daily.account.service.impl.UserServiceImpl" >
		<property name="userMapper" ref="userMapper"></property>
	</bean>
	
	<bean id="userDao" class="daily.account.dao.impl.UserDaoImpl" ></bean>
	<!-- 
	<bean id="userMapper" class="daily.account.dao.mapper.UserMapper" ></bean>
	
	<bean id="roleMapper" class="daily.account.dao.mapper.RoleMapper" ></bean>
	 -->
	
	
	
</beans>